*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:teal;
    font-family: sans-serif;
    color: white;
}
.location,.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 35px;
}
.degree-section h2{
    font-size: 40px;
}
#icon{
    width: 200px;
    height: 200px;
}
input{
    width:70%;
    height: 50px;
    font-size: 30px;
    border-radius: 7px;
    background-color: cornflowerblue;
    border: 2px solid black;
    padding-left: 10px;
    color: black;
}
button{
    width: auto;
    height: auto;
    font-size: 30px;
    border-radius: 8px;
    background-color:cadetblue;
    border: 2px solid black;
    padding:5px;
}